$primary: #FCBF49;
$link: #F77F00;
$dark:  #003049;
$text: $dark;
$light: #EAE2B7;
$text-light: $light;
$text-strong: $text;
$title-color: $text;
$subtitle-color: $text;

$body-color: $text;

$navbar-background-color: $dark;
$navbar-item-color: $text-light;
$navbar-item-hover-background-color: $navbar-background-color;
$navbar-item-active-color: $primary;

$footer-background-color: $dark;

$margin-base: 1rem;


$family-primary: Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-size: 16px;

